@using FluencyOnline.Models
@inherits ExampleImporter

    <div class="form-group">
        <select class="form-control codeelement" @onchange="OnChange">
        @foreach (var kvp in examples)
        {
            <option value=@kvp.Code>@kvp.Filename</option>
        }
        </select>
    </div>

@code {
    private string SelectedCode {get; set;}

    [Parameter]
    public EventCallback<UIChangeEventArgs> OnChange {get; set;}
}