@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Kansattica/FluencyOnline" target="_blank" class="ml-md-auto">FluencyOnline Source</a>
        <a href="https://github.com/Kansattica/Fluency" target="_blank" class="ml-md-auto">Fluency Interpreter</a>
        <a href="https://kansattica.github.io/Fluency" target="_blank" class="ml-md-auto">Docs</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
